html {
    background: black;
}

body {
    background-color: transparent;
    color: #aef;
    margin-bottom: 2rem;
}

#bonus {
    width:2em;
    text-align: center;
}

button, #bonus {
    color: #aef;

    background: linear-gradient(0deg, #000, #500);
    border-style: solid;
    border-width: .1em;
    border-color: #666;
    font-size: 1.1em;
    font-style: bold;
    font-weight: 750;
    font-family: "sans";
    padding: 1em;
}

#resultDisplay {
    background-image: url(diBackground.png);
    background-size: 1.75em;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 5em;
    border-color: #666;
    border: solid;
    border-width: 0.02em;
    width: 3em;
    height: 2.5em;
    margin: auto;
    padding: 0.5em;
}

#d20Buttons {
    margin-top: 1em;
    background: transparent;
    border: 1em;
}  


.card {
    background-color: transparent;
    width: 50%;
}

@media (max-width: 633px)
{
    html {
    background-size: fit;
    }
    }

    #description
    {
        margin: 0 30% 0 30%;
        font-size: 1.3em;
    }
    button, #bonus {
        padding: 0.25em;
        margin: 0.5em;
        font-size: 2.8em;
    }
}