body {
    background-color: transparent;
    color: #aef;
}
html {
background: linear-gradient(45deg, black, #711);
background-image: url(midnight.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


button {
background: linear-gradient(0deg, #000, #500);
    color: antiquewhite;
border-style: solid;
border-width: .1em;
border-color: #666;
font-size: 1.1em;
font-style: bold;
font-weight: 750;
font-family: "sans";
padding: 1em;
}

#resultDisplay {
    background-image: url(diBackground.png);
    background-size: 1.75em;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 5em;
    border-color: #666;
    border: solid;
    border-width: 0.02em;
    width: 3em;
    height: 2.5em;
    margin: auto;
    padding: 0.5em;
}

.d20Buttons {
margin-top: 1em;
background: transparent;
border: 1em;
}  


.card {
    background-color: transparent;
    width: 50%;
}